body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1E1E1E;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

.hidden {
    display: none;
}

.progress-container {
    margin-top: 20px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid white;
}

th {
    background-color: #333;
}

td {
    background-color: #444;
}

/* Style for displaying search logs */
.logs {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    background-color: #2E2E2E;
    padding: 10px;
    border: 1px solid #555;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 0.9em;
}
